@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  //   background-color: var(--color-background-light);
  //   color: var(--color-main-black);
  line-height: 1.5;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-family: var(--font-main);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


// 

.input_error {
  border-color: red;
}